<template>
  <v-row>
    <v-col
      cols="12"
      md="3"
      sm="3"
    >
      <v-text-field
        v-model="search"
        dense
        outlined
        :prepend-inner-icon="icons.mdiMagnify"
        v-on:keyup.enter="getAllData"
        class="app-bar-search flex-grow-0"
        label="Search"
        hide-details
      ></v-text-field>
    </v-col>
    <v-col
      cols="12"
      sm="3"
      md="2"
    >
      <v-menu
        ref="datePicker1"
        v-model="datePicker1"
        :close-on-content-click="false"
        :return-value.sync="startAt"
        
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            outlined
            dense
            v-model="startAt"
            style="padding-top: 0px;"
            label="Start At"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="startAt"
          no-title
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="datePicker1 = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.datePicker1.save(startAt), getAllData()"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
    <v-col
      cols="12"
      sm="3"
      md="2"
    >
      <v-menu
        ref="datePicker2"
        v-model="datePicker2"
        :close-on-content-click="false"
        :return-value.sync="endAt"
        
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            outlined
            dense
            v-model="endAt"
            style="padding-top: 0px;"
            label="End At"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="endAt"
          no-title
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="datePicker2 = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.datePicker2.save(endAt), getAllData()"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
    
    <v-col
      cols="12"
      md="1"
      sm="2"
      class="float-right"
      
    >
      <v-btn
        block
        type="reset"
        outlined
        @click="dialogExport = true"
      >
        Export
      </v-btn>
    </v-col>

    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="dataList"
        :loading="loadingTable"
        hide-default-footer
        loading-text="Loading... Mohon tunggu"
        class="elevation-1"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            small
            @click="showDialogEdit(item)"
          >
            mdi-pencil
          </v-icon>
          
          <v-icon
            style="margin-left: 4px;"
            small
            @click="historyPresence(item)"
          >
            mdi-information-outline
          </v-icon>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination
          v-model="page"
          :length="totalPages"
          :total-visible="7"
          circle
          @input="updatePagination"
        ></v-pagination>
      </div>
    </v-col>

    <v-dialog
      v-model="dialogEdit"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Edit Data
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="12" md="12">
                <v-text-field
                  v-model="rowData.name"
                  label="Nama"
                  outlined
                  dense
                  placeholder="Nama"
                  hide-details
                  :disabled="true"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="rowData.checkIn"
                  label="Check In"
                  outlined
                  dense
                  placeholder="Check In"
                  hide-details
                  :disabled="true"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="rowData.checkOut"
                  label="Check Out"
                  outlined
                  dense
                  placeholder="Check Out"
                  hide-details
                  :disabled="true"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-select
                  v-model="selectedKeyLogin"
                  :items="itemLogin"
                  label="Penalty Check In"
                  dense
                  outlined
                  hide-details
                ></v-select>
              </v-col>

              <v-col cols="12" md="6">
                <v-select
                  v-model="selectedKeyLogout"
                  :items="itemLogout"
                  :disabled="selectedKeyLogin === 'penalty3'"
                  label="Penalty Check Out"
                  dense
                  outlined
                  hide-details
                ></v-select>
              </v-col>

              <v-col cols="12" md="6">
                 <v-text-field
                  v-model="rowData.remarkLogin"
                  label="Remark Check IN"
                  outlined
                  dense
                  placeholder="Check Out"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                 <v-text-field
                  v-model="rowData.remarkLogout"
                  label="Remark Check Out"
                  outlined
                  dense
                  placeholder="Remark Check Out"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-btn color="primary"
                  @click="updateData()">
                  Submit
                </v-btn>

                <v-btn
                  type="reset"
                  outlined
                  class="mx-2"
                  @click="resetForm(), dialogEdit = false"
                >
                  Cancel
                </v-btn>
              </v-col>
             
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogExport"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Export Data Presence
        </v-card-title>
        <v-card-text>
          <v-form class="multi-col-validation" ref="entryForm" @submit.prevent="exportPresence(), dialogExport = false">
            <v-row>

              <v-col
                cols="12"
                md="6"
              >
                <v-menu
                  v-model="datePickStart"
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      outlined
                      dense
                      hide-details
                      v-model="startDate"
                      label="Start Date"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="startDate"
                    @input="datePickStart = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-menu
                  v-model="datePickEnd"
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      outlined
                      dense
                      hide-details
                      v-model="endDate"
                      label="End Date"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="endDate"
                    @input="datePickEnd = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>

              <v-col cols="12">
                <v-btn color="primary"
                  type="submit"
                >
                  Export
                </v-btn>
                <v-btn
                  type="reset"
                  outlined
                  class="mx-2"
                  @click="dialogExport = false"
                >
                  Close
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogDetails"
      max-width="900px"
    >
      <v-card>
        <v-card-title class="text-h5" style="padding-top: 16px">
           <v-col style="padding: 0px">
              History Precense {{ rowData.name }}
            </v-col>
            <v-col cols="2" style="padding: 0px; display: flex; justify-content: flex-end;">
              <v-btn
                type="reset"
                class="mx-2"
                outlined
                @click="exportPresenceByUser()"
              >
                Export
              </v-btn>
            </v-col>
            <v-col cols="2" style="padding: 0px; display: flex; justify-content: flex-end;">
              <v-menu
                ref="datePicker3"
                v-model="datePicker3"
                :close-on-content-click="false"
                :return-value.sync="endAt"
                
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    outlined
                    dense
                    v-model="monthFilter"
                    style="padding-top: 0px;"
                    label="Month"
                    prepend-icon="mdi-calendar"
                    readonly
                    hide-details
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="monthFilter"
                  type="month"
                  no-title
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="datePicker3 = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.datePicker3.save(monthFilter), getDataHistory()"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
          
        </v-card-title>
        <v-card-text style="max-height: 700px; overflow: scroll">
          <vue-apex-charts
            type="line"
            :options="chartOptions"
            :series="series"
            height="350"
          ></vue-apex-charts>
          <v-col style="max-height: 400px; overflow: scroll">
            <v-data-table
              :headers="headerDetails"
              :items="dataListDetails"
              :loading="loadingTableDetails"
              hide-default-footer
              loading-text="Loading... Mohon tunggu"
              class="elevation-1"
            >
            </v-data-table>
          </v-col>
        </v-card-text>
      </v-card>
      
    </v-dialog>

    <v-dialog
      v-model="dialogScheduler"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Setting Scheduler
        </v-card-title>
        <v-card-text>
          <v-form class="multi-col-validation" ref="entryForm" @submit.prevent="submitScheduler(), dialogScheduler = false">
            <v-row>

              <v-col
                cols="12"
                md="6"
                class="text-center"
              >
                <v-menu
                  v-model="schedulerDate"
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      outlined
                      dense
                      hide-details
                      v-model="dateShceduler"
                      label="Start Date"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="dateShceduler"
                    @input="schedulerDate = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>

              <v-col cols="12">
                <v-btn color="primary"
                  type="submit"
                >
                  Submit
                </v-btn>
                <v-btn
                  type="reset"
                  outlined
                  class="mx-2"
                  @click="dialogScheduler = false"
                >
                  Close
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-row>
</template>

<script>
import Api from '@/service/ServiceApi'
import { mdiMagnify } from '@mdi/js'
import { mapActions } from 'vuex'
import moment from "moment"
import VueApexCharts from 'vue-apexcharts'

export default {
  components: {
    VueApexCharts,
  },
  data() {
    return {
      headers: [
        { text: 'Actions', value: 'actions', sortable: false, width: '80px' },
        { text: 'Nama', value: 'name', width: '200px' },
        { text: 'Jabatan', value: 'position' },
        { text: 'Status Login', value: 'statusLogin', width: '100px' },
        { text: 'Penalty Login', value: 'loginPenalty', width: '100px' },
        { text: 'Remarks Login', value: 'remarkLogin', width: '400px' },
        { text: 'Login By Pass', value: 'isLoginByPass', width: '100px'},
        { text: 'Check In', value: 'loginAt', width: '200px' },
        { text: 'Status Logout', value: 'statusLogout', width: '100px' },
        { text: 'Penalty Logout', value: 'logoutPenalty', width: '100px' },
        { text: 'Remarks Logout', value: 'remarkLogout', width: '400px' },
        { text: 'Check Out', value: 'logoutAt', width: '200px' },
        { text: 'Logout By Pass', value: 'isLogoutByPass', width: '100px' },
      ],
      headerDetails: [
        { text: 'Date', value: 'loginAt' },
        { text: 'Penalty Login', value: 'penaltyLogin' },
        { text: 'Penalty Logout', value: 'penaltyLogout' },
        { text: 'Total', value: 'penaltyTotal' },
      ],
      dataListDetails: [],
      dataList: [],
      size: 10,
      page: 1,
      totalPages: 0,
      loadingTable: true,
      loadingTableDetails: false,
      search: '',
      icons: {
        mdiMagnify,
      },
      dialogEdit: false,
      dialogDetails: false,
      rowData: {},
      dataDropdown: {
        id: '',
        value: '',
        remarks: '',
      },
      startAt: '',
      endAt: '',
      itemLogin: [],
      selectedKeyLogin: '',
      itemLogout: [],
      selectedKeyLogout: '',
      dialogExport: false,
      dialogScheduler: false,
      datePicker1: false,
      datePicker2: false,
      datePicker3: false,
      schedulerDate: false,
      startAt: (new Date(Date.now() - 1)).toISOString().substr(0, 10),
      endAt: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      startDate: moment(new Date()).add(-30, 'days').format('YYYY-MM-DD'),
      endDate: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      datePickStart: false,
      datePickEnd: false,
      monthFilter: '',
      series: [],
      name:'',
      id: '',
      chartOptions: {
        chart: {
          height: 350,
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: true,
        },
        stroke: {
          curve: 'smooth'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          categories: [],
          title: {
            text: 'Date'
          }
        },
        yaxis: {
          title: {
            text: 'Penalty'
          },
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
      },
      dateShceduler: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }
  },
  watch: {
    search(val) {
      if (val === '') {
        this.page = 1
        this.getAllData()
      }
    },
    selectedKeyLogin(val) {
      if (val === 'penalty3') {
        this.selectedKeyLogout = null
      }
    },
  },

  mounted() {
    this.getAllData()
    this.getDropdownByFlagging()
  },
  methods: {
    ...mapActions(['snackBar']),
    showSnackBar(data) {
      this.snackBar(data)
    },

    getDropdownByFlagging() {
      Api.getDropdownByFlagging('penalty_login', '').then(res => {
        res.data.forEach(element => {
          this.itemLogin.push({
            text: element.value.toUpperCase(),
            value: element.key,
          })
        })
      }).catch(err => {})
      Api.getDropdownByFlagging('penalty_logout', '').then(res => {
          res.data.forEach(element => {
            this.itemLogout.push({
              text: element.value.toUpperCase(),
              value: element.key,
          })
        });
      }).catch(err => {})
    },

    async getAllData() {
      this.loadingTable = true
      const data = {
        page: this.page - 1,
        size: this.size,
        name: this.search,
        startAt: this.startAt,
        endAt: this.endAt,
      }
      await Api.listPresence(data).then(res => {
        this.dataList = res.content
        this.totalPages = res.totalPages
        this.loadingTable = false
      }).catch(err => {
        this.loadingTable = false
      })
    },

    updateData() {
      const data = this.rowData
      data.keyLogin = this.selectedKeyLogin
      data.keyLogout = this.selectedKeyLogout
      Api.updatePersence(data).then(() => {
        this.dialogEdit = false
        this.getAllData()
        this.showSnackBar({type: 'success'})
      })
    },

    updatePagination(page) {
      this.page = page
      this.getAllData()
    },

    showDialogEdit(item) {
      this.dialogEdit = true
      this.selectedKeyLogin = item.keyLogin
      this.selectedKeyLogout = item.keyLogout
      this.rowData = {
        id: item.id,
        name: item.name,
        checkIn: item.loginAt,
        checkOut: item.logoutAt,
        remarkLogin: item.remarkLogin,
        remarkLogout: item.remarkLogout,
      }
    },

    resetForm() {
      this.rowData = {
        name: '',
        checkIn: '',
        checkOut: '',
        remarkLogin: '',
        remarkLogout: '',
      }
    },

    async historyPresence(item) {
      this.monthFilter = this.startAt.substr(0, 7)
      this.rowData = {
        name: item.name,
        id: item.userAuthId
      }
      this.name = item.name
      this.id = item.userAuthId
      this.dialogDetails = true
      this.getDataHistory()
    },

    async getDataHistory() {
      await Api.getHistoryPresenceDaily(this.monthFilter + '-01', this.rowData.id).then((res) => {
        const data = res.data
        const dates = []
        const series = []
        let max = 0
        data.forEach(element => {
          max = max > element.penaltyTotal ? max : element.penaltyTotal
          series.push(element.penaltyTotal)
          dates.push(moment(element.loginAt).format("DD"))
        });
        this.dataListDetails = data
        this.series = [{
          name: 'Penalty Total',
          data: series
        },]
        let chartOptions = this.chartOptions
        chartOptions.xaxis.categories = dates
        this.chartOptions = {
          xaxis: {
            categories: dates
          },
          yaxis: {
            title: {
              text: 'Penalty'
            },
            min: 0,
            max: max + (max * 0.1)
          },
        }
      })
    },

    exportPresence() {
      Api.downloadReport(this.startAt, this.endAt)
    },

    exportPresenceByUser() {
      Api.downloadReportByUser(this.monthFilter + '-01', this.name, this.id)
    },

    submitScheduler() {
      Api.runScheduler(this.dateShceduler).then (() => {
        this.showSnackBar({type: 'success'})
      })
    }
  },
}
</script>
