<template>
  <v-row>
    <v-col
      md="4"
      sm="6"
      xs="6"
    >
      <v-text-field
        v-model="search"
        dense
        label="Search"
        outlined
        :prepend-inner-icon="icons.mdiMagnify"
        v-on:keyup.enter="getAllUser"
        class="app-bar-search flex-grow-0"
        hide-details
      ></v-text-field>
    </v-col>
    <v-col
      md="8"
      sm="6"
      xs="6"
      class="text-right"
    >
      <v-btn
        type="reset"
        class="mx-2"
        outlined
        @click="resetForm(), dialogEdit = true, isEdit = false"
      >
        ADD Data
      </v-btn>
      <v-btn
        type="reset"
        class="mx-2"
        outlined
        @click="showDialogUpload()"
      >
        Upload
      </v-btn>
    </v-col>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="dataList"
        :loading="loadingTable"
        hide-default-footer
        loading-text="Loading... Mohon tunggu"
        class="elevation-1"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="showDialogEdit(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            v-if="item.isMobileDevice"
            small
            @click="deleteItem(item)"
          >
            mdi-cellphone-remove
          </v-icon>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination
          v-model="page"
          :length="totalPages"
          :total-visible="7"
          circle
          @input="updatePagination"
        ></v-pagination>
      </div>
    </v-col>

    <v-dialog
      v-model="dialogDelete"
      max-width="400px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Yakin reset data handphone?
        </v-card-title>
        <v-card-text>
          Nama: {{ rowData.name }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialogDelete = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="deleteItemConfirm"
          >
            OK
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogUpload"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Upload data user?
        </v-card-title>
        <v-card-text>
          <v-stepper v-model="e1">
            <v-stepper-header>
              <v-stepper-step
                :complete="e1 > 1"
                step="1"
              >
                Download template excel
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                :complete="e1 > 2"
                step="2"
              >
                Upload data user
              </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-card-text
                  class="text-center"
                >
                  <v-btn
                    :loading="loading3"
                    :disabled="loading3"
                    color="blue-grey"
                    class="ma-2 black--text"
                    @click="downloadTemplate()"
                  >
                    Download
                  </v-btn>
                </v-card-text>

                <v-btn
                  color="primary"
                  class="mr-5"
                  @click="e1 = 2"
                >
                  Continue
                </v-btn>

                <v-btn
                  text
                  @click="dialogUpload = false"
                >
                  Cancel
                </v-btn>
              </v-stepper-content>

              <v-stepper-content step="2">
                <v-card-text>
                  <v-file-input
                    v-model="files"
                    color="deep-purple accent-4"
                    counter
                    label="File input"
                    multiple
                    placeholder="Select your files"
                    prepend-icon="mdi-paperclip"
                    outlined
                    :show-size="1000"
                  >
                    <template v-slot:selection="{ index, text }">
                      <v-chip
                        v-if="index < 1"
                        color="black accent-4"
                        dark
                        label
                        small
                      >
                        {{ text }}
                      </v-chip>

                      <span
                        v-else-if="index === 1"
                        class="text-overline grey--text text--black-3 mx-2"
                      >
                        +{{ files.length - 1 }} File(s)
                      </span>
                    </template>
                  </v-file-input>
                </v-card-text>

                <v-btn
                  color="primary"
                  class="mr-5"
                  @click="upload()"
                >
                  Upload
                </v-btn>

                <v-btn
                  text
                  @click="e1 = 1"
                >
                  Cancel
                </v-btn>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogEdit"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          {{isEdit ? "Edit Data" : "Add Data"}}
        </v-card-title>
        <v-card-text>
          <v-form class="multi-col-validation" ref="entryForm" @submit.prevent="editItem()">
            <v-row>
              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.name"
                  :disabled="true"
                  label="Name"
                  outlined
                  dense
                  placeholder="Name"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.nrp"
                  :rules="[rules.required, rules.min]"
                  label="NRP"
                  outlined
                  dense
                  placeholder="NRP"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.firstName"
                  :rules="[rules.required]"
                  label="First Name"
                  outlined
                  dense
                  placeholder="First Name"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.lastName"
                  label="Last Name"
                  outlined
                  dense
                  placeholder="Last Name"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.position"
                  :rules="[rules.required]"
                  label="Position"
                  outlined
                  dense
                  placeholder="Position"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.grade"
                  :rules="[rules.required]"
                  label="Pangkat"
                  outlined
                  dense
                  placeholder="Pangkat"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.noHp"
                  label="Phone Number"
                  outlined
                  dense
                  placeholder="Phone Number"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-select
                  v-model="userProfile.sex"
                  outlined
                  dense
                  placeholder="Gender"
                  hide-details
                  :items="genders"
                  label="Gender"
                ></v-select>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-menu
                  v-model="dateOfBird"
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      outlined
                      dense
                      hide-details
                      v-model="userProfile.dateOfBirth"
                      :rules="[rules.required, rules.min]"
                      label="Date Of Birth"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="userProfile.dateOfBirth"
                    @input="dateOfBird = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="userProfile.birthPlace"
                  label="Birth Place"
                  outlined
                  dense
                  placeholder="Birth Place"
                  hide-details
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  v-model="userProfile.address"
                  placeholder="Address"
                  label="Address"
                  outlined
                  dense
                ></v-text-field>
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-if="!isEdit"
                  v-model="password"
                  label="Password"
                  :append-icon="isShowPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="isShowPassword ? 'text' : 'password'"
                  hint="At least 8 characters"
                  counter
                  outlined
                  dense
                  placeholder="Password"
                  hide-details
                  @click:append="isShowPassword = !isShowPassword"
                ></v-text-field>
              </v-col>


              <v-col cols="12">
                <v-btn color="primary"
                  type="submit"
                  :disabled="invalid"
                >
                  Submit
                </v-btn>
                <v-btn
                  type="reset"
                  outlined
                  class="mx-2"
                  @click="dialogEdit = false, resetForm()"
                >
                  Close
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Api from '@/service/ServiceApi'
import { mdiMagnify } from '@mdi/js'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      headers: [
        { text: 'Nama', value: 'name' },
        { text: 'Pangkat', value: 'grade' },
        { text: 'Posisi', value: 'position' },
        { text: 'NRP', value: 'nrp' },
        { text: 'Tufin', value: 'tufin' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      dataList: [],
      name: '',
      size: 10,
      page: 1,
      totalPages: 0,
      loadingTable: true,
      search: '',
      icons: {
        mdiMagnify,
      },
      isEdit: false,
      dialogDelete: false,
      dialogUpload: false,
      dialogEdit: false,
      rowData: {},
      snackName: '',
      files: [],
      e1: 1,
      loader: null,
      loading3: false,
      userProfile: {
        id: '',
        address: '',
        firstName: '',
        lastName: '',
        sex: '',
        noHp: '',
        dateOfBirth: '',
        birthPlace: '',
        name: '',
        position: '',
        grade: '',
        name: '',
        nrp: ''
      },
      genders: [{text: 'Laki-laki', value: 'l'}, {text: 'Perempuan', value: 'p'}],
      date: null,
      dateOfBird: false,
      password: '',
      isShowPassword: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 4 || 'Min 4 characters',
        emailMatch: () => (`The email and password you entered don't match`),
      },
      invalid: true
    }
  },

  watch: {
    'userProfile.nrp'(val) {
      this.invalid = !val
    },
    'userProfile.name'(val) {
      this.invalid = !val
    },
    'userProfile.firstName'(val) {
      this.invalid = !val
    },
    'userProfile.position'(val) {
      this.invalid = !val
    },
    'userProfile.grade'(val) {
      this.invalid = !val
    },
    'userProfile.dateOfBirth'(val) {
      this.invalid = !val
    },
    'password'(val) {
      this.invalid = !val
    },
    loader() {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 1500)

      this.loader = null
    },
  },

  mounted() {
    this.getAllUser()
    // this.showSnackBar()
  },
  methods: {
    ...mapActions(['snackBar']),

    showSnackBar(data) {
      this.snackBar(data)
    },

    async getAllUser() {
      this.loadingTable = true
      this.dataList = []
      await Api.allDataUser(this.search, this.size, this.page - 1).then(res => {
        this.dataList = res.content
        this.totalPages = res.totalPages
        this.loadingTable = false
      })
      // })
      // this.dataList = response.content
      // this.totalPages = response.totalPages
      // this.loadingTable = false
    },

    upload() {
      this.loadingTable = true
      const formData = new FormData()
      for (let i = 0; i < this.files.length; i++) {
        const file = this.files[i]
        formData.append('file', file)
      }
      this.dialogUpload = false
      Api.uploadDataUser(formData).then(() => {
        this.showSnackBar({type: 'success'})
        this.getAllUser()
      })
    },

    updatePagination(page) {
      this.page = page
      this.getAllUser()
    },

    showDialogEdit(item) {
      this.isEdit = true
      this.dialogEdit = true
      this.userProfile.userAuthId = item.userAuthId
      this.userProfile.name = item.name
      this.userProfile.nrp = item.nrp
      this.userProfile.firstName = item.firstName
      this.userProfile.lastName = item.lastName
      this.userProfile.noHp = item.noHp
      this.userProfile.sex = item.sex
      this.userProfile.dateOfBirth = item.dateOfBirth
      this.userProfile.birthPlace = item.birthPlace
      this.userProfile.address = item.address
      this.userProfile.position = item.position
      this.userProfile.grade = item.grade
    },

    resetForm() {
      this.userProfile.userAuthId = ''
      this.userProfile.name = ''
      this.userProfile.nrp = ''
      this.userProfile.firstName = ''
      this.userProfile.lastName = ''
      this.userProfile.noHp = ''
      this.userProfile.sex = ''
      this.userProfile.dateOfBirth = ''
      this.userProfile.birthPlace = ''
      this.userProfile.address = ''
      this.userProfile.position = ''
      this.userProfile.grade = ''
      this.password = ''
    },

    async editItem() {
      if (this.isEdit) {
        await Api.updateUser(this.userProfile.userAuthId, this.userProfile).then(() => {
          this.showSnackBar({type: 'success'})
        })
      } else {
        await Api.signUp(this.userProfile, this.password).then(() => {
          this.showSnackBar({type: 'success'})
        })
      }
      this.getAllUser()
      this.dialogEdit = false
      this.resetForm()
    },

    deleteItem(item) {
      this.dialogDelete = true
      this.rowData = item
    },

    closeDelete() {
      this.dialogDelete = false
    },

    deleteItemConfirm() {
      Api.deleteDevice(this.rowData.userAuthId).then(() => {
        this.showSnackBar({type: 'success'})
        this.getAllUser()
        this.dialogDelete = false
      })
    },

    showDialogUpload() {
      this.dialogUpload = true
    },

    closeDialogUpload() {
      this.dialogUpload = false
    },

    downloadTemplate() {
      this.loader = 'loading3'
      Api.downloadTemplate()
    },

  },
}
</script>
