<template>
  <v-row>
    <v-col
      md="4"
      sm="6"
      xs="6"
    >
      <v-text-field
        v-model="search"
        dense
        outlined
        :prepend-inner-icon="icons.mdiMagnify"
        v-on:keyup.enter="getAllDropdown"
        class="app-bar-search flex-grow-0"
        label="Search"
        hide-details
      ></v-text-field>
    </v-col>
    <v-col
        class="d-flex"
        sm="4"
        md="4"
      >
        <v-select
          v-model="selectedFlaging"
          :items="itemFlagging"
          label="Flagging"
          dense
          outlined
        ></v-select>
      </v-col>
    <v-col
      md="4"
      sm="2"
      xs="2"
      class="text-right"
    >
      <v-btn
        v-if="selectedFlaging === 'penalty_key'"
        type="reset"
        class="mx-2"
        outlined
        @click="showDialogAdd()"
      >
        Add Data
      </v-btn>
    </v-col>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="dataList"
        :loading="loadingTable"
        hide-default-footer
        loading-text="Loading... Mohon tunggu"
        class="elevation-1"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="showDialogEdit(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            v-if="selectedFlaging === 'penalty_key'"
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination
          v-model="page"
          :length="totalPages"
          :total-visible="7"
          circle
          @input="updatePagination"
        ></v-pagination>
      </div>
    </v-col>

    <v-dialog
      v-model="dialogDelete"
      max-width="400px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Yakin menghapus data?
        </v-card-title>
        <v-card-text>
          Value: {{ rowData.value }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialogDelete = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="deleteItemConfirm()"
          >
            OK
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogEdit"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          {{ isEdit ? 'Edit ' : 'Add ' }}  Data Dropdown
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="dataDropdown.value"
              label="Value"
              outlined
              dense
              placeholder="value"
              :disabled="selectedFlaging !== 'penalty_key'"
            ></v-text-field>

            <v-text-field
              v-model="dataDropdown.remarks"
              label="Remarks"
              outlined
              dense
              placeholder="Remarks"
            ></v-text-field>
            <v-btn color="primary"
              @click="saveDropdown()">
              Submit
            </v-btn>

            <v-btn
              type="reset"
              outlined
              class="mx-2"
              @click="dialogEdit = false"
            >
              Cancel
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Api from '@/service/ServiceApi'
import { mdiMagnify } from '@mdi/js'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      headers: [
        { text: 'Nama', value: 'value' },
        { text: 'Deskription', value: 'remarks' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      dataList: [],
      name: '',
      size: 10,
      page: 1,
      totalPages: 0,
      loadingTable: true,
      search: '',
      icons: {
        mdiMagnify,
      },
      dialogDelete: false,
      dialogEdit: false,
      rowData: {},
      loader: null,
      dataDropdown: {
        id: '',
        value: '',
        remarks: '',
      },
      isEdit: false,
      date: null,
      itemFlagging: [],
      selectedFlaging: 'penalty_key'
    }
  },

  watch: {
    loader() {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 1500)

      this.loader = null
    },
    selectedFlaging(val) {
      this.getAllDropdown()
    },
  },
  mounted() {
    this.getAllDropdown()
    this.getFlagging()
  },
  methods: {
    ...mapActions(['snackBar']),
    showSnackBar(data) {
      this.snackBar(data)
    },

    async getFlagging() {
      await Api.flaggingDropdown().then(res => {
        this.itemFlagging = res.data
      }).catch(err => {})
    },

    async getAllDropdown() {
      this.loadingTable = true
      await Api.getDropdownByFlagging(this.selectedFlaging, this.search).then(response => {
        this.dataList = response.data
        this.totalPages = response.totalPages
        this.loadingTable = false
      }).catch(err => {})
      
    },

    updatePagination(page) {
      this.page = page
      this.getAllDropdown()
    },

    showDialogAdd() {
      this.resetForm()
      this.isEdit = false
      this.dialogEdit = true
    },

    showDialogEdit(item) {
      this.isEdit = true
      this.dialogEdit = true
      this.dataDropdown.id = item.id
      this.dataDropdown.value = item.value
      this.dataDropdown.remarks = item.remarks
    },

    resetForm() {
      this.dataDropdown.id = ''
      this.dataDropdown.value = ''
      this.dataDropdown.remarks = ''
    },

    async saveDropdown() {
      await Api.saveDropdown(this.dataDropdown).then(res => {
        this.dialogEdit = false;
        this.showSnackBar({type: 'success'})
        this.getAllDropdown()
      }).catch(err => {})
      
    },

    deleteItem(item) {
      this.dialogDelete = true
      this.rowData = item
    },

    closeDelete() {
      this.dialogDelete = false
    },

    deleteItemConfirm() {
      Api.deleteDropdown(this.rowData.id).then(res => {
        this.showSnackBar({type: 'success'})
        this.dialogDelete = false
        this.getAllDropdown()
      })
    },
  },
}
</script>
