<template>
  <v-card
    flat
    class="pa-3 mt-2"
  >
    <!--
    <v-card-text class="d-flex">
      <v-avatar
        rounded
        size="120"
        class="me-6"
      >
        <v-img :src="accountDataLocale.avatarImg"></v-img>
      </v-avatar>

      <div>
        <v-btn
          color="primary"
          class="me-3 mt-5"
          @click="$refs.refInputEl.click()"
        >
          <v-icon class="d-sm-none">
            {{ icons.mdiCloudUploadOutline }}
          </v-icon>
          <span class="d-none d-sm-block">Upload new photo</span>
        </v-btn>

        <input
          ref="refInputEl"
          type="file"
          accept=".jpeg,.png,.jpg,GIF"
          :hidden="true"
        />

        <v-btn
          color="error"
          outlined
          class="mt-5"
        >
          Reset
        </v-btn>
        <p class="text-sm mt-5">
          Allowed JPG, GIF or PNG. Max size of 800K
        </p>
      </div>
    </v-card-text>
    -->
    <v-card-text>
      <v-form class="multi-col-validation mt-6">
        <v-row>
          <v-col
            md="6"
            cols="12"
          >
            <v-text-field
              v-model="profileUser.name"
              label="Name"
              dense
              outlined
            ></v-text-field>
          </v-col>

          <v-col
            md="6"
            cols="12"
          >
            <v-text-field
              v-model="profileUser.noHp"
              label="Phone Number"
              type="number"
              dense
              outlined
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="profileUser.firstName"
              label="First Name"
              dense
              outlined
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="profileUser.lastName"
              dense
              label="lastName"
              outlined
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="profileUser.dateOfBirth"
              readonly
              dense
              label="Date Of Birth"
              outlined
            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="profileUser.birthPlace"
              dense
              outlined
              label="Birth Place"
            ></v-text-field>
          </v-col>

          <!-- alert 
          <v-col cols="12">
            <v-alert
              color="warning"
              text
              class="mb-0"
            >
              <div class="d-flex align-start">
                <v-icon color="warning">
                  {{ icons.mdiAlertOutline }}
                </v-icon>

                <div class="ms-3">
                  <p class="text-base font-weight-medium mb-1">
                    Your email is not confirmed. Please check your inbox.
                  </p>
                  <a
                    href="javascript:void(0)"
                    class="text-decoration-none warning--text"
                  >
                    <span class="text-sm">Resend Confirmation</span>
                  </a>
                </div>
              </div>
            </v-alert>
          </v-col>
          -->
          <v-col cols="12">
            <v-btn
              color="primary"
              class="me-3 mt-4"
              @click="editItem()"
            >
              Save changes
            </v-btn>
            <v-btn
              color="secondary"
              outlined
              class="mt-4"
              type="reset"
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mdiAlertOutline, mdiCloudUploadOutline } from '@mdi/js'
import { ref } from '@vue/composition-api'
import Api from '@/service/ServiceApi'
import { mdiMagnify } from '@mdi/js'
import { mapActions } from 'vuex'

export default {
  props: {
    accountData: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const status = ['Active', 'Inactive', 'Pending', 'Closed']

    const accountDataLocale = ref(JSON.parse(JSON.stringify(props.accountData)))

    const resetForm = () => {
      accountDataLocale.value = JSON.parse(JSON.stringify(props.accountData))
    }

    return {
      status,
      accountDataLocale,
      resetForm,
      icons: {
        mdiAlertOutline,
        mdiCloudUploadOutline,
      },
    }
  },

  data() {
    return {
      snackName: '',
      profileUser: {
        id: '',
        address: '',
        firstName: '',
        name: '',
        noHp: '',
        lastName: '',
        dateOfBirth: '',
        birthPlace: ''
      }
    }
  },

  mounted() {
    this.getProfileUser()
  },
  
  methods: {
    ...mapActions(["snackBar"]),

    async getProfileUser() {
      await Api.getUserProfile().then(res => {
        this.profileUser.id = res.data.users.id
        this.profileUser.birthPlace = res.data.users.birthPlace
        this.profileUser.firstName = res.data.users.firstName
        this.profileUser.name = res.data.users.name
        this.profileUser.noHp = res.data.users.noHp,
        this.profileUser.address = res.data.users.address,
        this.profileUser.lastName = res.data.users.lastName,
        this.profileUser.dateOfBirth = res.data.users.dateOfBirth
      }).catch(err => {})
    },

    async editItem() {
      console.log(this.profileUser)
      await Api.updateUser(this.profileUser.id, this.profileUser).then(res => {
        this.getProfileUser()
        this.showSnackBar({type: 'success'})
      }).catch(err => {})
    },

    showSnackBar(data) {
      this.snackBar(data)
    }
  },

  
}
</script>
