<template>
  <v-row>
    <v-col
      cols="12"
      sm="4"
      md="2"
    >
      <v-menu
        ref="datePicker"
        v-model="datePicker"
        :close-on-content-click="false"
        :return-value.sync="date"
        
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            outlined
            dense
            v-model="date"
            style="padding-top: 0px;"
            label="Date"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          type="month"
          v-model="date"
          no-title
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="datePicker = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.datePicker.save(date), getData()"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
    <v-col
      md="10"
      sm="6"
      xs="6"
      class="text-right"
    >
      <v-btn
        type="reset"
        class="mx-2"
        outlined
        @click="addItem(), disableSubmit = true"
      >
        Add Data
      </v-btn>
    </v-col>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="dataList"
        :loading="loadingTable"
        hide-default-footer
        loading-text="Loading... Mohon tunggu"
        class="elevation-1"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            v-if="item.isCanEdit == '1'"
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            v-if="item.isCanEdit == '1'"
            small
            @click="dialogDelete = true, rowData = item"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination
          v-model="page"
          :length="totalPages"
          :total-visible="7"
          circle
          @input="updatePagination"
        ></v-pagination>
      </div>
    </v-col>

    <v-dialog
      v-model="dialogAdd"
      max-width="600px"
    >
      <v-card>
        <v-card-text style="padding-bottom: 0px">
          <v-card-title class="text-h5">
            {{ isEdit ? 'Edit ' : 'Tambah ' }} Hari Kerja
          </v-card-title>
          <v-row>
            <v-col
              cols="12"
              sm="12"
            >
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="dates"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-combobox
                    v-model="dates"
                    multiple
                    chips
                    small-chips
                    label="Pilih Hari Kerja"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-combobox>
                </template>
                <v-date-picker
                  v-model="dates"
                  multiple
                  no-title
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="menu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu.save(dates)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>

              <v-card-title class="text-h5" style="padding: 16px">
                <v-col style="padding: 0px">
                  List Users
                </v-col>
                <v-col style="padding: 0px; display: flex; justify-content: flex-end;">
                  <v-btn
                    v-if="isAll"
                    color="info"
                    type="reset"
                    outlined
                    class="mx-1"
                    @click="isAll = false"
                  >
                  Reset
                  </v-btn>
                </v-col>

              </v-card-title>
              <v-col style="max-height: 400px; overflow: scroll">
              <v-combobox
                v-model="pickUsers"
                :filter="filter"
                :hide-no-data="!search"
                :items="itemUsers"
                :search-input.sync="search"
                hide-selected
                hide-details
                label="Search for an option"
                multiple
                small-chips
                solo
              >
                <template v-slot:no-data>
                  <v-list-item>
                    <span class="subheading">Create</span>
                    <v-chip
                      :color="`${colors[nonce - 1]} lighten-3`"
                      label
                      small
                    >
                      {{ search }}
                    </v-chip>
                  </v-list-item>
                </template>
                <template v-slot:selection="{ attrs, item, parent, selected }">
                  <v-chip
                    v-if="item === Object(item)"
                    v-bind="attrs"
                    :color="`${item.color} black`"
                    :input-value="selected"
                    label
                    small
                  >
                    <span class="pr-2">
                      {{ item.text }}
                    </span>
                    <v-icon
                      small
                      @click="parent.selectItem(item)"
                    >
                      $delete
                    </v-icon>
                  </v-chip>
                </template>
              </v-combobox>
              </v-col>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-col cols="12">
            <v-btn color="primary" :disabled="disableSubmit" @click="saveWorkingDay()">
              Submit
            </v-btn>
            <v-btn
              type="reset"
              outlined
              class="mx-2"
              @click="dialogAdd = false, isAll = false"
            >
              Close
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogDelete"
      max-width="400px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Yakin hapus data?
        </v-card-title>
        <v-card-text>
          Date: {{ rowData.date }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-col cols="12">
            <v-btn color="primary" @click="deleteItemConfirm">
              Confirm
            </v-btn>
            <v-btn
              type="reset"
              outlined
              class="mx-2"
              @click="dialogDelete = false"
            >
              Close
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Api from '@/service/ServiceApi'
import { mdiMagnify } from '@mdi/js'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      headers: [
        { text: 'Date', value: 'date' },
        { text: 'Update By', value: 'updatedBy' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      dataList: [],
      date: '',
      size: 10,
      page: 1,
      totalPages: 0,
      loadingTable: true,
      search: '',
      icons: {
        mdiMagnify,
      },
      dialogAdd: false,
      dialogDelete: false,
      rowData: {},
      dates: [],
      menu: false,

      activator: null,
      attach: null,
      colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'],
      editing: null,
      editingIndex: -1,
      itemUsers: [
        {text: 'ALL', value: 'all', color: 'green'},
      ],
      nonce: 1,
      menu: false,
      pickUsers: [],
      x: 0,
      search: null,
      y: 0,
      datePicker: false,
      isAll: false,
      isEdit: false,
      rules: {
        required: value => !!value || 'Required.',
      },
      disableSubmit: true
    }
  },
  watch: {
    pickUsers(val) {
      const last = val.length == 0 ? null : val[val.length - 1]
      if (last && last.value === 'all') {
        this.isAll = true
        this.pickUsers = this.itemUsers
        this.pickUsers.shift()
        
      } 
      if (val.length > 0 && this.dates.length > 0) {
        this.disableSubmit = false
      }
    },
    isAll(val) {
      if (!val) {
        this.pickUsers = []
        this.itemUsers.unshift({text: 'ALL', value: 'all', color: 'green'})
      }
    },
    dates(val) {
      if (val.length > 0 && this.pickUsers.length > 0) {
        this.disableSubmit = false
      }
    }
  },
  async mounted() {
    await this.getDataUsers('')
    await this.getData()
  },
  methods: {
    async getData() {
      this.loadingTable = true
      const response = await Api.getWorkingdays(this.date, this.size, this.page - 1).catch(err => {})
      this.dataList = response.content
      this.totalPages = response.totalPages
      this.loadingTable = false
    },

    async getDataUsers(size) {
      let res = await Api.allDataUser('', size ? size : 10, 0).catch(err => {})
      if (res.totalItems > 10) {
        res = await Api.allDataUser('', res.totalItems, 0).catch(err => {})
      }
      res.content.forEach(elm => {
        this.itemUsers.push({
          text: elm.name,
          value: elm.id,
          color: 'purple',
        })
      })
    },

    async saveWorkingDay() {
      this.loadingTable = true
      this.dialogAdd = false
      const rowIds = []
      this.pickUsers.forEach(elm => {
        rowIds.push(elm.value)
      })
      await Api.updateWorkingDay(rowIds, this.dates).then(() => {
        this.showSnackBar({type: 'success'})
      }).catch(err => {})

      this.getData()
    },

    async editItem(item) {
      this.isEdit = true
      await Api.detailWorkingDay(item.date).then(res => {
        if (res.status === true || res.status === 200) {
          res.data.forEach(elm => {
            this.pickUsers.push({
              text: elm.name,
              value: elm.id,
              color: 'purple',
            })
          })
        }
      })
      this.dates = [item.date]
      this.dialogAdd = true
    },

    async deleteItemConfirm() {
      await Api.deleteWorkingDay(this.rowData.date).then(res => {
        if (res.status === true || res.status === 200) {
          this.showSnackBar({type: 'success'})
        }
      }).catch(err => {})
      this.dialogDelete = false
      this.getData()
    },

    updatePagination(page) {
      this.page = page
      this.getData()
    },

    addItem() {
      this.pickUsers = []
      this.dates = []
      this.dialogAdd = true
    },

    closeDelete() {
      this.dialogAdd = false
    },

    ...mapActions(['snackBar']),

    showSnackBar(data) {
      this.snackBar(data)
    },

    filter(item, queryText, itemText) {
      if (item.header) return false
      const hasValue = val => (val != null ? val : '')
      const text = hasValue(itemText)
      const query = hasValue(queryText)
      return text.toString()
        .toLowerCase()
        .indexOf(query.toString().toLowerCase()) > -1
    },

  },
}
</script>
