<template>
  <v-card>
    <v-card-title class="align-start">
      <span>Report Check Out 12 Bulan</span>

      <v-spacer></v-spacer>

      <v-btn
        icon
        small
        class="mt-n2 me-n3"
      >
        <v-icon size="22">
          {{ icons.mdiDotsVertical }}
        </v-icon>
      </v-btn>
    </v-card-title>

    <v-card-text>
      <!-- Chart -->
      <vue-apex-charts
        :options="chartOptions"
        :series="series"
        height="250"
      ></vue-apex-charts>
    </v-card-text>
  </v-card>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
// eslint-disable-next-line object-curly-newline
import { mdiDotsVertical, mdiTrendingUp, mdiCurrencyUsd } from '@mdi/js'
import Api from '@/service/ServiceApi'

export default {
  components: {
    VueApexCharts,
  },

  data() {
    return {
      series: [{
        name: 'Hijau',
        data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
      }, {
        name: 'Kuning',
        data: [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
      }, {
        name: 'Merah',
        data: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
      }],
      chartOptions: {
        colors: ['#24ae24', '#ffe135', '#ff1a1a', '#141414'],
        chart: {
          type: 'bar',
          height: 350,
          toolbar: {
            show: false,
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: [],
        },
        yaxis: {
          title: {
            text: ''
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return val
            }
          }
        }
      },

      icons: {
        mdiDotsVertical,
        mdiTrendingUp,
        mdiCurrencyUsd,
      },
    }
    
  },

  async mounted() {
    await this.getDataCheckOutYearly()
  },

  methods:{
    async getDataCheckOutYearly() {
      await Api.getDataPresenceYearly().then(res => {
        const categories = res.data.month
        this.chartOptions = {
          xaxis: {
            categories: categories
          }
        }
        this.series[0].data = res.data.checkOutHijau
        this.series[1].data = res.data.checkOutKuning
        this.series[2].data = res.data.checkOutMerah
      }).catch(err => {})
    }
  }
}
</script>
