<template>
  <v-card>
    <v-card-title class="align-start">
      <span>Report Check Out</span>

      <v-spacer></v-spacer>

      <!-- <v-btn
        icon
        small
        class="mt-n2 me-n3"
      >
        <v-icon size="22">
          {{ icons.mdiDotsVertical }}
        </v-icon>
      </v-btn> -->
    </v-card-title>

    <v-card-text>
      <!-- Chart -->
      <vue-apex-charts
        type="pie" width="380" :options="chartOptions" :series="series"
        height="210"
      ></vue-apex-charts>

      <div class="text-center">
        <span style="color: #24ae24">Hijau: {{series[0]}} &nbsp;</span>
        <span style="color: #ffe135">Kuning: {{series[1]}} &nbsp;</span>
        <span style="color: #ff1a1a">Merah: {{series[2]}} &nbsp;</span>
        <span style="color: #141414">Hitam: {{series[3]}} &nbsp;</span>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
// eslint-disable-next-line object-curly-newline
import { mdiDotsVertical, mdiTrendingUp, mdiCurrencyUsd } from '@mdi/js'
import { getCurrentInstance } from '@vue/composition-api'
import Api from '@/service/ServiceApi'

export default {
  components: {
    VueApexCharts,
  },

  data() {
    return {
      series: [0],
      chartOptions: {
        colors: ['#24ae24', '#ffe135', '#ff1a1a'],
        chart: {
          width: 380,
          type: 'pie',
        },
        labels: [],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      },

      icons: {
        mdiDotsVertical,
        mdiTrendingUp,
        mdiCurrencyUsd,
      },
    }
  },

  created() {
    this.getDataCheckOut(new Date().toISOString().substr(0, 10))
  },
  
  methods:{
    async getDataCheckOut(date) {
      await Api.getDataPresence(date, 'penalty_logout').then(res => {
        let series = []
        let labels = []
        let isEmpty = true
        if (res.data.length > 0) {
          for (let i in res.data) {
            const item = res.data[i]
            if (item.total > 0) {
              isEmpty = false
            }
            series.push(item.total)
            labels.push(item.value.charAt(0).toUpperCase() + item.value.slice(1))
          }
        } 
        
        if (isEmpty) {
          series = [1]
          labels = ['No Data']
        }
        this.series = series
        this.chartOptions = {
          labels: labels
        }
      }).catch(() => {})
    }
  }
}
</script>
