<template>
  <v-row>
    <v-col
      md="4"
      sm="6"
      xs="6"
    >
      <v-text-field
        v-model="search"
        dense
        outlined
        label="Search"
        :prepend-inner-icon="icons.mdiMagnify"
        v-on:keyup.enter="getAllTajuk"
        class="app-bar-search flex-grow-0"
        hide-details
      ></v-text-field>
    </v-col>
    <v-col
      md="8"
      sm="6"
      xs="6"
      class="text-right"
    >
      <v-btn
        type="reset"
        class="mx-2"
        outlined
        @click="showDialogAdd(), isEdit = false, resetForm()"
      >
        Add Data
      </v-btn>
    </v-col>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="dataList"
        :loading="loadingTable"
        hide-default-footer
        loading-text="Loading... Mohon tunggu"
        class="elevation-1"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            v-if="item.isCanEdit == '1'"
            small
            class="mr-2"
            @click="editItem(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            v-if="item.isCanEdit == '1'"
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
      <div class="text-center pt-2">
        <v-pagination
          v-model="page"
          :length="totalPages"
          :total-visible="7"
          circle
          @input="updatePagination"
        ></v-pagination>
      </div>
    </v-col>

    <v-dialog
      v-model="dialogDelete"
      max-width="400px"
    >
      <v-card>
        <v-card-title class="text-h5">
          Yakin hapus data?
        </v-card-title>
        <v-card-text>
          Title: {{ rowData.title }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-col cols="12">
            <v-btn color="primary" @click="deleteItemConfirm">
              Confirm
            </v-btn>
            <v-btn
              type="reset"
              outlined
              class="mx-2"
              @click="dialogDelete = false"
            >
              Close
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogAdd"
      max-width="600px"
    >
      <v-card>
        <v-card-title class="text-h5">
          {{ isEdit ? 'Edit Data APP' : 'Add Data APP' }}
        </v-card-title>
        <v-card-text>
          <v-text-field label="Title" 
            v-model="title">
          </v-text-field>
          <v-select
            v-model="flagging"
            :items="itemFlagging"
            label="Flagging Absensi"
          ></v-select>
          <v-textarea
            v-model="content"
            autocomplete="content"
            label="APP Description"
          ></v-textarea>
          <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="dates"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-combobox
                  v-model="dates"
                  multiple
                  chips
                  small-chips
                  label="Pilih Tanggal"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-combobox>
              </template>
              <v-date-picker
                v-model="dates"
                multiple
                no-title
                scrollable
              >
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="menu = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.menu.save(dates)"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-col cols="12">
            <v-btn color="primary" @click="saveTajuk()">
              Submit
            </v-btn>
            <v-btn
              type="reset"
              outlined
              class="mx-2"
              @click="dialogAdd = false"
            >
              Close
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Api from '@/service/ServiceApi'
import { mdiMagnify } from '@mdi/js'
import { mapActions } from 'vuex'
import { getDate } from '@/utils/date'

export default {
  data() {
    return {
      headers: [
        { text: 'Title', value: 'title' },
        { text: 'Deskripsi', value: 'content' },
        { text: 'Tanggal Aktif', value: 'activeAt' },
        { text: 'Flagging Aktif', value: 'flagging' },
        { text: 'Updated By', value: 'updatedBy' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      itemFlagging: [
        { text: 'Check In & Check Out', value: 'check_in_out' },
        { text: 'Check In', value: 'check_in' },
        { text: 'Check out', value: 'check_out' },
      ],
      flagging: '',
      dataList: [],
      title: '',
      size: 10,
      page: 1,
      totalPages: 0,
      loadingTable: true,
      search: '',
      icons: {
        mdiMagnify,
      },
      dialogDelete: false,
      dialogAdd: false,
      rowData: {},
      snackName: '',
      files: [],
      e1: 1,
      loader: null,
      loading3: false,
      dates: [],
      menu: false,
      rowId: null,
      title: '',
      content: '',
      dataTajuk: null,
      isEdit: false
    }
  },

  watch: {
    loader() {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 1500)

      this.loader = null
    },
  },
  mounted() {
    this.getAllTajuk()
  },
  methods: {
    ...mapActions(["snackBar"]),
    
    async getAllTajuk() {
      this.loadingTable = true
      const response = await Api.allDataTajuk(this.search, this.size, this.page - 1).catch(err => {})
      this.dataList = response.content
      this.totalPages = response.totalPages
      this.loadingTable = false
    },

    async saveTajuk() {
      this.loadingTable = true
      this.dialogAdd = false
      let data = {
        title: this.title,
        content: this.content,
        activeAt: this.dates,
        flagging: this.flagging,
        id: this.rowId,
      }
      await Api.saveTajuk(data, this.isEdit).then(() => {
        this.showSnackBar({type: 'success'})
        this.getAllTajuk()
        this.resetForm()
      }).catch(err => {})
    },

    resetForm() {
      this.title = ''
      this.content = ''
      this.flagging = ''
      this.date = []
      this.dates = []
    },

    updatePagination(page) {
      this.page = page
      this.getAllTajuk()
    },

    editItem(item) {
      this.isEdit = true
      this.rowId = item.id
      this.title = item.title
      this.content = item.content
      this.flagging = item.flagging
      this.dates = [getDate(item.activeAt)]
      this.dialogAdd = true
    },

    deleteItem(item) {
      this.dialogDelete = true
      this.rowData = item
    },

    closeDelete() {
      this.dialogDelete = false
    },

    async deleteItemConfirm() {
      await Api.deleteTajuk(this.rowData.id).catch(err => {})
      setTimeout(() => {
        this.dialogDelete = false
      }, 300)
      this.getAllTajuk()
    },

    showSnackBar(data) {
      this.snackBar(data)
    },

    showDialogAdd() {
      this.dialogAdd = true
    },

    closeDialogAdd() {
      this.dialogAdd = false
    },

  },
}
</script>
